.details-container {
  display: flex;
  max-width: 1216px;
  margin: 40px auto;
  justify-content: center;
  padding: 40px;
  gap: 32px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

p {
  color: #3f3f3f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.animal-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  width: 100%;
  padding: 30px;
}

.animal-info {
  display: flex;
  max-height: 400px;
  flex-direction: row;
  width: 100%;
  gap: 32px;
}

.animal-data {
  display: flex;
  flex-direction: column;
}

.animal-data p {
  font-size: 16px;
  width: 100%;
}

.animal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.animal-image-right,
.animal-form {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: stretch;
}

.animal-image-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animal-image-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 8px;
}

.like-btn {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ff7e56;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.like-btn img {
  width: 16px;
  height: 16px;
}

.edit-btn {
  padding: 8px 24px;
  height: 40px;
  background-color: #ff7e56;
  color: white;
  gap: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.edit-btn:hover {
  background-color: #f95b2b;
}

.cancel-btn {
  padding: 8px 24px;
  height: 40px;
  color: #ff7e56;
  background-color: white;
  gap: 8px;
  border: 1px solid #ff7e56;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.btn-wrapper {
  gap: 20px;
  display: flex;
}

label {
  padding-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid #ccc;
}

.last {
  border: none;
}

.animal-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 32px;
}

.left-side,
.right-side,
.animal-description {
  display: flex;
  padding: 20px;
  min-width: 250px;
  justify-content: space-evenly;
  border: 1px solid #ccc;
  border-radius: 8px;
  flex-direction: column;
  gap: 18px;
}

span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #3f3f3f;
}

.animal-description {
  gap: 8px;
}

.description {
  border: none;
  padding: 0;
}
