<main class="details-container">
  @if(animal) {
  <section class="animal-details">
    <article class="animal-info">
      <div class="animal-image-right">
        <img [src]="animal.image" alt="Image of {{ animal.name }}" />
      </div>
      <div class="animal-form">
        <div class="animal-container">
          <div class="left-side">
            <div class="animal-data">
              <label for="name"
                >Name: <span>{{ animal.name }}</span></label
              >
            </div>
            <div class="animal-data">
              <label for="status"
                >Status: <span>{{ animal.status }}</span></label
              >
            </div>
            <div class="animal-data">
              <label for="type"
                >Type: <span>{{ animal.type }}</span></label
              >
            </div>
            <div class="animal-data">
              <label for="age" class="last"
                >Age: <span>{{ animal.age }}</span></label
              >
            </div>
          </div>
          <div class="right-side">
            <div class="animal-data">
              <label for="size"
                >Size: <span>{{ animal.size }}</span></label
              >
            </div>
            <div class="animal-data">
              <label for="gender"
                >Gender: <span>{{ animal.gender }}</span></label
              >
            </div>
            <div class="animal-data">
              <label for="specialNeeds"
                >Special needs:
                <span>{{ animal.specialNeeds ? "Yes" : "No" }}</span></label
              >
            </div>
            <div class="animal-data">
              <label class="last" for="location"
                >Location: <span>{{ animal.location }}</span></label
              >
            </div>
          </div>
        </div>
      </div>
    </article>
    <div class="animal-data">
      <section class="animal-description">
        <label class="description" for="description">Description:</label>
        <p>{{ animal.description }}</p>
      </section>
    </div>
    <div class="btn-wrapper">
      @if(animal.status === 'Adopt') {
        @if(isOwner) {
          <button class="like-btn">
            <img src="assets/img/like-yes.svg" alt="Like" />
          </button>
          } @if(userId && !isOwner) {
          <button (click)="toggleLike()" class="like-btn">
            @if(canLike) {
            <img src="assets/img/like-no.svg" alt="Disslike" />
            }@else {
            <img src="assets/img/like-yes.svg" alt="Like" />
            }
          </button>
          }
          <span>Likes: {{animal.likes.length}}</span>
      }
       @if(isOwner) {

      <button
        class="cancel-btn"
        type="button"
        (click)="deleteAnimal(animal._id)"
      >
        Delete
      </button>
      <button class="edit-btn" (click)="editAnimal(animal._id)">Edit</button>
      }
    </div>
  </section>
  }
</main>
