* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  font-weight: 400;
  font-size: 1em;
  margin-top: 5px;
}