<section class="register-s">
  <form action="">
    <fieldset>
      <h2>Sign up</h2>
      <p>Join our community and become part of our mission to create a better future for animals! By registering, you’ll have access to a full range of services.</p>
    </fieldset>
    <p>
      <label for="firstname">First name</label>
      <input type="text" name="username" placeholder="e.g.John">
    </p>
    <p>
      <label for="lastname">Last name</label>
      <input type="text" name="lastname" placeholder="e.g.Doe">
    </p>
  </form>
</section>
<aside class="register-img">

</aside>