<section class="profile-section">
  <div class="profile-header">
    <h3>Welcome to your profile page, {{ user?.firstName }} !</h3>
    <p>
      Here you can manage and update your personal details. Feel free to edit
      your information, or update any other data to keep your profile up to
      date. We want to ensure your experience is as personalized and seamless as
      possible. If you have any questions or need assistance, don't hesitate to
      reach out to us!
    </p>
  </div>

  
  <div class="profile-info">
    @if(!isEditMode) {
      <div class="profile-form">
        <div class="profile-container">
          <div class="profile-first-name">
            <label for="firstName">First name</label>
            <p id="user-data">{{user?.firstName}}</p>
          </div>
          <div class="profile-last-name">
            <label for="lastName">Last name</label>
            <p id="user-data">{{user?.lastName}}</p>
    
          </div>
          <div class="profile-email">
            <label for="email">Email</label>
            <p id="user-data">{{user?.email}}</p>
          </div>
          <button (click)="toggleEditMode()">Edit</button>
        </div>
      </div>
    }@else {
      <form class="profile-form" #profileForm="ngForm" (ngSubmit)="profileEdit()">
        <div class="profile-container">
          <div class="profile-first-name">
            <label for="firstName">First name</label>
            <input type="text" name="firstName" id="firstName" [placeholder]="user?.firstName" ngModel #firstName="ngModel" required minlength="2" maxlength="20">
          </div>
          <div class="profile-last-name">
            <label for="lastName">Last name</label>
            <input type="text" name="lastName" id="lastName" [placeholder]="user?.lastName" ngModel #lastName="ngModel" required minlength="2" maxlength="20">
          </div>
          <div class="profile-email">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" [placeholder]="user?.email" ngModel #email="ngModel" required minlength="5">
          </div>
          <button >Save</button>
        </div>
      </form>
    }
      
  
    <div class="animal-data">
      <div class="created-animals">
        @if(user?.createdAnimals) { @for (animal of user?.createdAnimals; track
        $index) {
        <app-animal-card [animal]="animal" />
        } }@else {
          <span class="line">
            Sorry, you dont have any created animals.
          </span>
        }
      </div>
    </div>
    <div class="animal-data">
      <div class="liked-animals">
        @if(user?.likedAnimals) { @for (animal of user?.likedAnimals; track
        $index) {
        <app-animal-card [animal]="animal" />
        } }@else {
          <span class="line">
            Sorry, you dont have any liked animals.
          </span>
        }
      </div>
    </div>
  </div>
  
</section>
