<section class="lost-section">
  <div class="lost-header">
    <h3>Lost & Found</h3>
    <p>
      If you’ve lost your pet or found a stray animal, we’re here to help. Our
      goal is to reconnect lost animals with their families as quickly and
      safely as possible. In this section, you can find information about lost
      or found animals, along with photos and a description.
    </p>
    <p>
      Community support is essential for the successful reunion of pets and
      their loved ones. Please browse the listings or share your story with us.
      Let’s work together to bring these animals back to their families!
    </p>
  </div>
  <div class="filter-container">
    <div class="filter-wrapper">
      <div class="filter-icon">
        <img src="assets/img/filter-alt.svg" alt="Filter Icon" />
      </div>

      <div class="filter-options">
        <div class="filter-option">
          <select [(ngModel)]="filterCriteria.status" id="animal-status" class="option-type" (ngModelChange)="applyFilter()">
            <option value="" disabled selected hidden>Animal Status</option>
            <option value="Lost">Lost</option>
            <option value="Found">Found</option>
          </select>
        </div>

        <div class="filter-option">
          <select [(ngModel)]="filterCriteria.type" id="animal-type" class="option-type" (ngModelChange)="applyFilter()">
            <option value="" disabled selected hidden>Type of Animal</option>
            <option value="Dog">Dog</option>
            <option value="Cat">Cat</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="filter-option">
          <select [(ngModel)]="filterCriteria.gender" id="gender" class="option-type" (ngModelChange)="applyFilter()">
            <option value="" disabled selected hidden>Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>

        <div class="filter-option">
          <select [(ngModel)]="filterCriteria.location" id="location" class="option-type" (ngModelChange)="applyFilter()">
            <option value="" disabled selected hidden>Location</option>
            @for (locaiton of animalLocations; track $index) {
              <option [value]="locaiton">{{locaiton}}</option>
            }
          </select>
        </div>
      </div>
    </div>
    <button (click)="clearFilter()" class="clear-filter">Clear Filter</button>
  </div>
  <div class="lost-animals">
    @for (animal of filteredAnimals; track $index) {
    <app-animal-card [animal]="animal" />
    }
  </div>
</section>
<app-support-article />
