<footer class="footer">
  <div class="nav-f">
    <div class="logo-blk">
      <img src="logo-blk.svg" alt="Logo" />
    </div>
    <div class="nav-blk">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#adopt">Adopt</a></li>
        <li><a href="#lost-found">Lost & Found</a></li>
        <li><a href="#about-us">About Us</a></li>
        <li><a href="#contact-us">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <div class="divider"></div>
  <div class="term-f">
    <div class="arr">2024 © Paws All rights reserved</div>
    <div class="terms">
      <a href="">Terms and conditions</a>
      <a href="">Privacy policy</a>
    </div>
  </div>
</footer>
