<section class="hero-section">
  <img src="main-dog.svg" alt="Dog Image" class="hero-image" />
</section>

<section class="animal-section-1">
  @for (animal of forAdopt; track $index) {
  <app-animal-card [animal]="animal"/>
  }

  <div class="animal-card-blank">
    <div class="animal-blank">
      <img src="pet-friendly-grey.svg" alt="" class="animal-grey" />
      <p>
        <span class="line">View</span>
        <span class="line">all animals</span>
      </p>
    </div>
  </div>
</section>

<article class="mission-article">
  <div class="main">
    <h5>Our mission</h5>
    <br />
    <p class="mission-p">
      Our mission is to give every animal a chance for a better life, filled
      with care and love. We believe that every creature deserves a safe home
      and attention, regardless of its past. We work tirelessly to rescue
      animals in need, rehabilitate them, and find loving families that will
      welcome them as part of their lives.
    </p>
    <p class="mission-p">
      We strive to inspire the community to be more compassionate and
      responsible toward animals by organizing awareness campaigns and
      educational initiatives. Our foundation also supports spay and neuter
      programs to help prevent unwanted litters and reduce homelessness.
    </p>
    <div class="article-end">
      <img src="heart.svg" alt="" />
      <p>
        We believe that, together we can build a world where every animal lives
        in peace and dignity.
      </p>
    </div>
  </div>
  <div class="puppy-adopt">
    <img src="mission-banner.png" alt="" />
  </div>
</article>

<section class="animal-section-2">
  <h5>Lost & Found</h5>
  <p class="mission-p">
    If you’ve lost your pet or found a stray animal, we’re here to help. Our
    goal is to reconnect lost animals with their families as quickly and safely
    as possible.
  </p>
  <div class="animal-cards-container">
    @for (animal of foundAndLost; track $index) {
      <app-animal-card [animal]="animal"/>
    }
    <div class="animal-card-blank">
      <div class="animal-blank">
        <img src="pet-friendly-grey.svg" alt="" class="animal-grey" />
        <p>
          <span class="line">View</span>
          <span class="line">all animals</span>
        </p>
      </div>
    </div>
  </div>
</section>
<app-support-article/>