<header class="header">
  <div class="logo-container">
    <img src="logo.svg" alt="Logo" />
  </div>
  <div class="nav-container">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#adopt">Adopt</a></li>
      <li><a href="#lost-found">Lost & Found</a></li>
      <li><a href="#about-us">About Us</a></li>
      <li><a href="#contact-us">Contact Us</a></li>
      <li class="splitter">|</li>
      <li class="action-btn-sign-up"><a href="#sign-up" class="sign-up"><img src="user-icon.svg" alt="user" class="user-icon">Sign Up</a></li>
      <li class="action-btn-donate"><a href="#donate" class="donate"><img src="pet-friendly.svg" alt="paw">Donate</a></li>
    </ul>
  </div>
</header>