<header class="header">
  <div class="logo-container">
    <img src="logo.svg" alt="Logo" />
  </div>
  <div class="nav-container">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/adopt">Adopt</a></li>
      <li><a routerLink="/lostandfound">Lost & Found</a></li>
      <li><a routerLink="/aboutus">About Us</a></li>
      <li><a routerLink="/contactus">Contact Us</a></li>
      <li class="splitter">|</li>
      <li class="action-btn-sign-up"><a routerLink="/users/register" class="sign-up"><img src="user-icon.svg" alt="user" class="user-icon">Sign Up</a></li>
      <li class="action-btn-donate"><a routerLink="/donate" class="donate"><img src="pet-friendly.svg" alt="paw">Donate</a></li>
    </ul>
  </div>
</header>