.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 16px 0;
  max-width: 1216px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 108px;
  height: 38px;
}

.nav-links {
  display: flex;
  gap: 32px;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-container ul li {
  display: inline-block;
}

.nav-container ul li a {
  text-decoration: none;
  color: #3F3E3E;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  transition: color 0.3s;
}

.nav-container ul li a:hover {
  color: #FF7E56;
}

.action-btn-sign-up:hover {
  color: #FF7E56;
  border: 1px solid #FF7E56;
}

.action-btn-sign-up a.sign-up:hover .user-icon {
  filter: brightness(0) saturate(100%) invert(47%) sepia(74%) saturate(7281%) hue-rotate(3deg) brightness(100%) contrast(100%);
}

.nav-container ul li.splitter {
  color: #3F3E3E;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.user-icon {
  width: 16px;
  height: 16px;
  transition: all 0.3s ease;
}

.action-btn-sign-up {
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 40px;
  position: relative;
}

.action-btn-donate {
  padding: 8px 16px;
  border-radius: 40px;
  border: 1px solid #FF7E56;
  background-color: #FF7E56;
}

.nav-container ul li a.donate {
 color: #ffff;
}

.action-btn-sign-up a.sign-up, .action-btn-donate a.donate {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #333;
}

.dropdown {
  position: relative;
  display: inline-block;
}

 .user-link {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #3F3E3E;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border-radius: 8px;
  min-width: 100px;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 15px;
  color: #3F3E3E;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  transition: background-color 0.2s, color 0.2s;
}

.dropdown-menu li a:hover {
  color: #FF7E56;
}

.action-btn-sign-up:hover .dropdown-menu {
  opacity: 1;
  visibility: visible; 
  transform: translateX(-50%) scaleY(1);
  transition: opacity 0.8s ease, transform 0.8s ease;
}