<header class="header">
  <div class="logo-container">
    <a routerLink="/home">
      <img src="logo.svg" alt="Logo" />
    </a>
  </div>
  <nav class="nav-container">
    <ul class="nav-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="animals/adopt">Adopt</a></li>
      <li><a routerLink="animals/lostandfound">Lost & Found</a></li>
      <li><a routerLink="/about">About Us</a></li>
      <li><a routerLink="/contact">Contact Us</a></li>
      <li class="splitter">|</li>
      <li class="action-btn-sign-up">
        <a
          *ngIf="!userFirstName; else loggedIn"
          routerLink="/users/register"
          class="sign-up"
        >
          <img src="user-icon.svg" alt="user" class="user-icon" /> Sign up
        </a>
        <ng-template #loggedIn>
          <a routerLink="/profile" class="sign-up">
            <img src="user-icon.svg" alt="user" class="user-icon" />
            <span>{{ userFirstName }}</span>
          </a>
        </ng-template>
      </li>
      <li class="action-btn-donate">
        <a routerLink="/donate" class="donate">
          <img src="pet-friendly.svg" alt="paw" /> Donate
        </a>
      </li>
    </ul>
  </nav>
</header>
