<section class="adopt-section">
  <div class="adopt-header">
    <h3>Adopt</h3>
    <p>
      Give a second chance to an animal in need! In our adoption section, you’ll
      find pets looking for loving families. Every animal deserves a home where
      they are loved and feel safe.
    </p>
  </div>

  <div class="filter-container">
    <div class="filter-wrapper">
      <div class="filter-icon">
        <img src="assets/img/filter-alt.svg" alt="Filter Icon" />
      </div>

      <div class="filter-options">
        <div class="filter-option">
          <select [(ngModel)]="filterCriteria.type" id="animal-type" class="option-type" (ngModelChange)="applyFilter()">
            <option value="" disabled selected hidden>Type of Animal</option>
            <option value="Dog">Dog</option>
            <option value="Cat">Cat</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="filter-option">
          <select [(ngModel)]="filterCriteria.age" id="age" class="option-type" (ngModelChange)="applyFilter()">
            <option value="" disabled selected hidden>Age</option>
            <option value="Young">Young</option>
            <option value="Adult">Adult</option>
            <option value="Senior">Senior</option>
          </select>
        </div>

        <div class="filter-option">
          <select [(ngModel)]="filterCriteria.size" id="size" class="option-type" (ngModelChange)="applyFilter()">
            <option value="" disabled selected hidden>Size</option>
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
          </select>
        </div>

        <div class="filter-option">
          <select [(ngModel)]="filterCriteria.gender" id="gender" class="option-type" (ngModelChange)="applyFilter()">
            <option value="" disabled selected hidden>Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>

        <div class="filter-option">
          <select [(ngModel)]="filterCriteria.specialNeeds" id="special-needs" class="option-type" (ngModelChange)="applyFilter()">
            <option value="" disabled selected hidden>Special Needs</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>

        <div class="filter-option">
          <select [(ngModel)]="filterCriteria.location" id="location" class="option-type" (ngModelChange)="applyFilter()">
            <option value="" disabled selected hidden>Location</option>
            @for (locaiton of animalLocations; track $index) {
              <option [value]="locaiton">{{locaiton}}</option>
            }
          </select>
        </div>
      </div>
    </div>
    <button class="clear-filter" (click)="clearFilter()">Clear Filter</button>
  </div>
  <div class="adopt-animals">
    @for (animal of filteredAnimals; track $index) {
    <app-animal-card [animal]="animal" />
    }
  </div>
</section>

<app-support-article />
